.Navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    box-shadow: 9px 7px 5px rgba(179, 176, 176, 0.3);
  }
  
  /* The navigation menu links */
  .Navigation a {
    padding: 6px 8px 6px 16px;  
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .Navigation a:hover {
    color: #c2c2c2;
  }