.Navigation {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 100px;
  box-shadow: 9px 7px 5px rgba(179, 176, 176, 0.3);
}

.Navigation a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.Navigation a:hover {
  color: #c2c2c2;
}
